:root {
	--blue: #375a7f;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #cc0000;
	--orange: #fd7e14;
	--yellow: #f39c12;
	--green: #00bc8c;
	--teal: #20c997;
	--cyan: #3498db;
	--white: #fff;
	--gray: #888;
	--gray-dark: #303030;
	--primary: #375a7f;
	--secondary: #444;
	--success: #00bc8c;
	--info: #cc0000;
	--warning: #f39c12;
	--danger: #ff2020;
	--light: #101010;
	--dark: #dee2e6;
	--font-family-sans-serif: sans-serif;
	--font-family-monospace: monospace;
}
body {
	font-family:sans-serif;
	color: var(--white);
	background-color: #000;
}
.btn.btn-sm.btn-secondary:focus, .btn.btn-secondary.btn-block:focus, .btn.btn-secondary.mb-2:focus {
	color:var(--white)!important;
}
a.text-info:focus, a.text-info:hover, a.text-primary:focus, a.text-primary:hover, .d-inline-block:hover, .text-muted a:hover, .text-muted a:focus, .btn.btn-link.text-muted.py-0.pl-0:focus, .btn-link:hover, .btn-link:focus .btn.btn-sm.text-muted:hover, .btn.btn-sm.text-muted:focus, .btn.focus, .btn:focus {
	color: var(--danger) !important;
}
.text-info {
	color: var(--red) !important;
}
.btn.btn-sm.btn-secondary.mr-2, .btn.btn-secondary.btn-block.mb-2 {
	border: none;
}
a:hover {
	color: var(--danger);
}
.text-primary {
	color: #ce8d8d!important;
}
.btn.btn-outline-secondary.active.pointer:hover, .btn.btn-secondary.btn-block:focus  {
	color:var(--white);
}
.card, .mark, .form-control, .form-control:focus {
	background-color: var(--light);
	border: 1px hidden;
}
.custom-select:focus, #icon-rss:hover {
	border-color: var(--red);
}
a.badge-primary:focus, a.badge-primary:hover, .btn.btn-outline-secondary.pointer.active:hover, .btn.btn-secondary.btn-block:hover, secondary.btn-block:focus, .btn.btn-secondary:focus {
	background-color: var(--danger);
}
.badge-primary, .btn.btn-secondary, .btn.btn-outline-secondary.pointer.active {
	background-color: var(--red);
}
.text-muted, .unselectable:hover {
	color: var(--gray) !important;
}
.text-muted:hover, a:hover, .btn-link, .btn.btn-link.text-muted:focus {
	text-decoration: none;
}
.text-muted a:hover, .text-muted a:focus, .btn-outline-secondary:hover, .btn.btn-link.text-muted.py-0.pl-0:focus {
	color: var(--danger);
	text-decoration: none;
}
.btn-outline-secondary {
	color: var(--red);
}
.icon.icon-inline.text-success.mr-1 {
	stroke: #0f0;
	fill: #0f0;
}
.btn.focus, .btn:focus, .form-control:focus, a.badge-primary:focus {
	box-shadow: none;
}
