/* This theme aims to reduce whitespace while keeping the site looking modern, and making comment chains a bit easier to follow. 
Use with the default darkly theme on your Lemmy instance.
This theme's color scheme is red */

/* Author: https://github.com/HrBingR */
/* Repo: https://github.com/HrBingR/Lemmy_CSS */

:root {
	--pri: #c80000;
	--sec: #990f0f;
	--lwhite: #222;
	--lgray: #e4e4e5;
	--lgray-dark: #d6d7d9;
	--llight: #222;
	--muted: #b7b7b7;
}

@media (min-width: 960px) {
    .container-lg {
        max-width: 1200px;
    }
    .col-md-8 {
        max-width: 75%;
        flex: 0 0 75%;
    }
    .col-md-4 {
        max-width: 25%;
        flex: 0 0 25%;
    }
}

@media (min-width: 1200px) {
    .col-md-8 {
        max-width: 80%;
        flex: 0 0 80%;
    }
    .col-md-4 {
        max-width: 20%;
        flex: 0 0 20%;
    }
    .container-lg {
        max-width: 1600px;
    }
}
.comments {
    padding-bottom: 1px;
}
.border-top.border-light {
    background-color: var(--lwhite)!important;
    padding-left: 5px;
    padding-right: 5px;
}
.col-sm-2 {
    max-width: 10%;
    flex: 0 0 10%;
}
.col-sm-9 {
    margin-left: 5px;
    max-width: 80%;
    flex: 0 0 80%;
}
.post-listing {
    border: 1px solid rgba(34,34,34,.125);
    /*border-bottom: 0px;*/
    border-color: var(--pri);
    border-radius: 5px;
    margin-bottom: 8px;
    padding-top: 10px;
    background-color: var(--lwhite);
    transition: all .2s;
    box-shadow: 2px 2px 1px var(--pri);
}
.text-body {
    color: #fff;
}
a.text-body:hover {
    color: var(--pri)!important;
}
.text-primary {
    color: var(--pri)!important;
}
.text-muted {
    color: var(--muted)!important;
}
.text-secondary {
    color: var(--muted)!important;
}
a.text-primary:hover {
    color: #fff!important;
}
hr {
    display: none;
}
.border-top {
    border-top: 1px solid rgba(34,34,34,.125)!important;
}
.border-light {
    border-color: var(--lgray)!important;
}
body {
    background-color: var(--llight);
}
.bg-light {
    background-color: #4C4C4C!important;
}
.navbar {
    background-color: var(--lwhite);
}
.shadow-sm {
    background-color: var(--lwhite);
}
.card {
    background-color: var(--lwhite);
    box-shadow: 2px 2px 1px var(--pri);
}
.col-12 .card {
    box-shadow: none;
}
.comments {
    padding-left: 10px;
    background-color: var(--lwhite);
}
.btn-outline-secondary:not(:disabled):not(.disabled).active {
    background-color: var(--pri);
    border-color: var(--pri);
}
.btn-outline-secondary:not(:disabled):not(.disabled):active {
    color: var(--lwhite);
    background-color: var(--pri);
    border-color: var(--pri);
}
.btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,162,25,0.5);
}
.btn-outline-secondary {
    color: var(--pri);
    border-color: var(--pri);
}
.btn-outline-secondary:hover {
    background-color: var(--pri);
    border-color: var(--pri);
}
.btn-secondary {
    background-color: var(--pri);
    border-color: var(--pri);
    margin-top: 10px;
}
.btn-secondary:disabled {
    background-color: var(--pri);
    border-color: var(--pri);
}
.btn-secondary:hover {
    background-color: var(--sec);
    border-color: var(--pri);
}
.btn-secondary:focus {
    background-color: var(--sec);
    border-color: var(--pri);
    box-shadow: 0 0 0 0.2rem rgba(255,162,25,0.5);
}
.btn-secondary:not(:disabled):not(.disabled):active {
    color: var(--lwhite);
    background-color: var(--pri);
    border-color: var(--pri);
}
.border-secondary {
    border-color: var(--pri)!important;
}
.badge-secondary {
    background-color: var(--pri);
}