/* This theme aims to reduce whitespace while keeping the site looking modern, and making comment chains a bit easier to follow. 
Use with the default litely theme on your Lemmy instance.
This theme's color scheme is purple */

.container-lg {
    max-width: 1600px;
}
.col-md-8 {
    max-width: 80%;
    flex: 0 0 80%;
}
.col-md-4 {
    max-width: 20%;
    flex: 0 0 20%;
}
.col-sm-2 {
    max-width: 10%;
    flex: 0 0 10%;
}
.col-sm-9 {
    margin-left: 5px;
    max-width: 80%;
    flex: 0 0 80%;
}
.post-listing {
    border: 1px solid rgba(34,34,34,.125);
    /*border-bottom: 0px;*/
    border-color: #b042ff;
    border-radius: 5px;
    margin-bottom: 8px;
    padding-top: 10px;
    background-color: #fff;
    transition: all .2s;
    box-shadow: 2px 2px 1px #b042ff;
}

hr {
    display: none;
}
.border-top {
    border-top: 1px solid rgba(34,34,34,.125)!important;
}
.border-light {
    border-color: #e4e4e5!important;
}
body {
    background-color: #ecf0f1;
}
.navbar {
    background-color: #fff;
}
.card {
    background-color: #fff;
    box-shadow: 2px 2px 1px #b042ff;
}
.col-12 .card {
    box-shadow: none;
}
.comments {
    padding-left: 10px;
    background-color: #fff;
}
a:visited .d-inline-block {
    color:#d6d7d9!important;
}
.my-2 {
    margin-bottom: 0px!important;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active {
    background-color: #b042ff;
    border-color: #b042ff;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #b042ff;
    border-color: #b042ff;
}
.btn-outline-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(176,66,255,0.5);
}
.btn-outline-secondary {
    color: #b042ff;
    border-color: #b042ff;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #b042ff;
    border-color: #b042ff;
}
.btn-secondary {
    background-color: #b042ff;
    border-color: #b042ff;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #9300ff;
    border-color: #b042ff;
}
.btn-secondary:focus {
    color: #fff;
    background-color: #9300ff;
    border-color: #b042ff;
    box-shadow: 0 0 0 0.2rem rgba(176,66,255,0.5);
}
.btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #b042ff;
    border-color: #b042ff;
}
.border-secondary {
    border-color: #b042ff!important;
}
.badge-secondary {
    background-color: #b042ff;
}
